<h2>Países</h2>
<hr />
<ul class="list-group">
    <!-- <li
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="list-group-item list-group-item-action"
    >
        Home page
    </li>
    <li
        routerLinkActive="active"
        routerLink="about"
        class="list-group-item list-group-item-action"
    >
        About page
    </li>

    <li
        routerLinkActive="active"
        routerLink="contact"
        class="list-group-item list-group-item-action"
    >
        Contact page
    </li> -->

    <li
        routerLinkActive="active"
        routerLink="countries/by-capital"
        class="list-group-item list-group-item-action"
    >
        Por capital
    </li>

    <li
        routerLinkActive="active"
        routerLink="countries/by-country"
        class="list-group-item list-group-item-action"
    >
        Por país
    </li>

    <li
        routerLinkActive="active"
        routerLink="countries/by-region"
        class="list-group-item list-group-item-action"
    >
        Por Región
    </li>
</ul>
